<h1>Address Book</h1>

<form id="form_id" action="/contact/new" method="post">
  <div class="form-group">
    <label for="name">Make a new contact</label>
    <input type="text" name="name" id="name" class="form-control">
  </div>
    <button type="submit" class="btn">Create</button>
</form>

<h2>OR</h2>

<a href="/contacts">Look up an existing contact</a>
</form>
