<h1>New Contact</h1>


<form action="/contacts" method="post">
  <div class="form-group">
      <label for="street"></label>
      <input type="text" id="street" name="street" class="form-control">
  </div>

  <div class="form-group">
      <label for="city"></label>
      <input type="text" id="city" name="city" class="form-control">
  </div>

  <div class="form-group">
      <label for="state"></label>
      <input type="text" id="state" name="state" class="form-control">
  </div>

  <div class="form-group">
      <label for="zip"></label>
      <input type="text" id="zip" name="zip" class="form-control">
  </div>

  <div class="form-group">
      <label for="address_type"></label>
      <input type="text" id="address_type" name="address_type" class="form-control">
  </div>

  <div class="form-group">
      <label for="area_code"></label>
      <input type="text" id="area_code" name="area_code" class="form-control">
  </div>

  <div class="form-group">
      <label for="number"></label>
      <input type="text" id="number" name="number" class="form-control">
  </div>

  <div class="form-group">
      <label for="phone_type"></label>
      <input type="text" id="phone_type" name="phone_type" class="form-control">
  </div>

  <div class="form-group">
      <label for="email"></label>
      <input type="text" id="email" name="email" class="form-control">
  </div>

  <div class="form-group">
      <label for="email_type"></label>
      <input type="text" id="email_type" name="email_type" class="form-control">
  </div>

  <button type="submit" class="btn">Add Contact</button>
</form>
